body {
    background-color: #67E667;
}

h1 {
    color: #FF7373;
    font-size: 70px;
    text-align: center;
}

p {
    color: #FF7373;
    font-size: 50px;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: solid #FF7373 5px;
    padding: 20px;
    border-radius: 50px;
    color: white;
    font-size: 50px;
}

a:hover {
    background-color: #FF7373;
}
